.container {
    width: 100%;
    margin: 0 auto;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}




/* Ultra small screen (mobile phone) */
@media screen and (min-width: 768px) {
    .order{
        grid-template-columns: 29% 70%;
    }

}

/*  Medium screen (desktop) */
@media screen and (min-width: 992px) {
    .order{
        grid-template-columns: 8% 40% 8% 41%;
    }
}

.text-tip{
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.header{
    display: grid;
    grid-template-columns: 20% 79%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo{
    height: 80px;
    background-color: black;
    line-height: 80px;
    width: 100%;
}

.nav-menu {
    height: 80px;
    background-color: black;
    line-height: 80px;
    width: 100%;
}

.banner{
    background-color: black;
    height: 200px;
    line-height: 200px;
    width: 100%;
    margin-bottom: 30px;
}

.order-title{
    background-color: black;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 15px;
}

.order{
    display: grid;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    grid-template-rows: 150px;
}

.order-content{
    background-color: black;
    line-height: 150px;
    width: 100%;
}

.footer{
    background-color: black;
    margin-top: 30px;
    height: 200px;
    line-height: 200px;
    margin-bottom: 20px;
    width: 100%;
}



